<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	<display-name>webrtc</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<!-- main servlet endpoint -->
	<servlet>
		<servlet-name>main</servlet-name>
		<servlet-class>org.webrtc.web.MainPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>main</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>
	<!-- send message servlet endpoint -->
	<servlet>
		<servlet-name>message</servlet-name>
		<servlet-class>org.webrtc.web.MessagePageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>message</servlet-name>
		<url-pattern>/message</url-pattern>
	</servlet-mapping>
	<!-- hall servlet endpoint -->
	<servlet>
		<servlet-name>hall</servlet-name>
		<servlet-class>org.webrtc.web.HallPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>hall</servlet-name>
		<url-pattern>/hall</url-pattern>
	</servlet-mapping>
	<!-- Serving static content with Tomcat's default Servlet -->
	<servlet>
		<servlet-name>default</servlet-name>
		<servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/images/*</url-pattern>
		<url-pattern>/css/*</url-pattern>
		<url-pattern>/file/*</url-pattern>
		<url-pattern>/js/*</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>org.webrtc.WebRTCServerServletContextListener</listener-class>
	</listener>
</web-app>